body {
  background-color: rgba(196, 180, 176, 0.788);
  
}

.contenedor{
    
    width: 85%;
    background-color: #FFF8E7;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
    margin-left: 8%;
    /*text-align: center;*/
}

h1 {
  color:#442616;
  margin-left: 20px0;
  text-align: center;
}

h2 {
  color:#442616;
  margin-left: 20px0;
  text-align: center;
}

h3 {
  color:#442616;
  margin-left: 20px;
  text-align: center;
}

p {
    margin: 35px 35px;
    text-align: justify;
    font-family: Helvetica, sans-serif;
}

.imagen-centrada {
    text-align: center;
    height: auto;
    margin: auto;
}


.barra {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #975B16;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.barra ul {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.barra li {
    display: inline-block;
}

.barra a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.barra a:hover {
    background-color: #7a4a12;
}

.barra a:hover:not(.active) {
  background-color: #6D5343;
}

.footer {
  background-color: #333;
  color: #f5f5f5;
  padding: 10px 20px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer p {
  margin: 4px 0;
}

footer a {
    color: #f5f5f5;
    text-decoration: none;
    
}

footer a:hover {
    color: #c7a17a;
}

