body {
  background-image: url(assets/img/17.jpg);
  /*background-color: rgba(196, 180, 176, 0.788);*/
  text-decoration: none;
}

.contenedor{
    
    width: 85%;
    background-color: #FFF8E7;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 1vh auto;
}

h1 {
  color:#442616;
  margin-left: 20px0;
  text-align: center;
  background-color: antiquewhite;
}

h2 {
  color:#442616;
  margin-left: 20px0;
  text-align: center;
}

h3 {
  color:#442616;
  margin-left: 20px;
  text-align: center;
}

p {
    margin: 3.55vw;
    text-align: justify;
    font-family: Helvetica, sans-serif;
}

aside {
  width: 40%;
  padding: 4vw;
  margin: 2vw;
  position: relative;
  top: 1vh;
  float: right;
  border-left: 2px solid #7a4a12;
  font-style: italic;
  color: #442616;
}

aside > p {
  margin: 0.5rem;
}

.nuevo {
  position: relative;
  z-index: 1000;
  font-weight: bold;
  background-color: #f3c48f;
  padding: 15px;
  margin: 15px 0;
  width: fit-content;
  max-width: 100%; 
}

.imagen-centrada {
    text-align: center;
    height: auto;
    margin: auto;
}

.imagen-float {
    width: 40%;
    margin: 15px;
}

.imagen-izquierda {
    float: left;
    margin-left: 30;
}

.imagen-derecha {
    float: right;
    margin-right: 0;
}

.barra {
    list-style-type: none;
    overflow: hidden;
    background-color: #975B16;
    position: sticky;
    display: flex;
    justify-content: center;
}

.barra ul {
    display: flex;
    gap: 3vw;
}

.barra li {
    display: inline-block;
}

.barra a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5vw;
    text-decoration: none;
    
}

.barra a:hover {
    background-color: #7a4a12;
}

.barra a:hover:not(.active) {
  background-color: #6D5343;
}

.footer {
  background-color: #333;
  color: #f5f5f5;
  padding: 10px 20px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer p {
  margin: 4px 0;
}

footer a {
    color: #f5f5f5;
    text-decoration: none;
    
}

footer a:hover {
    color: #c7a17a;
}


.tabla {
  margin: auto ;
  padding: 1vw 1vh;
  text-align: center;
}

.tabla th {
  background-color: #975B16;
  color: white;
}

.tabla th, td {
  padding: 1vw 2vh;
  text-align: center;
}

.tabla tr:hover {
  background-color: #c7a17a;}

